.top-image img{
    border: 2px solid rgb(127, 211, 211);
    width: 100%;
    height:400px;
    filter: blur(3px);
    -webkit-filter: blur(2px);

}
.position{
   position: absolute;
   top: 150px;
   left: 50px;
   
}
.container{
    background-color: rgba(243, 188, 181, 0.637);
    margin-top: 30px;
    margin-bottom: 20px;
}

@media screen and (min-width:768px){
    .container img{
        height: 300px;
    }
}
