.serviceAll{
    background-color: rgb(236, 199, 199);
}
.serviceAll-container{
  
    margin: 30px;
}
@media screen and (min-width:768px){
    .serviceAll-container img{
        height: 300px;
        width: 500px;
    }
}